 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div>
                <div">
                     <p>Heather is an experienced professional with 15 years of experience in both the non-profit and tech sectors. She worked for close to 10 years as a program manager at a variety of non-profits before changing careers into Software Engineering. Her software engineering career has spanned both management and data analysis. She has also helped teach a Data Analytics bootcamp as a Teacher's Assistant.</p>

		     <p>Heather holds an MA in Education Policy from The George Washington University in Washington, D.C. She has a BA in Sociology from UCLA and started a second BA in Computer Science at George Mason University, before accepting a full-time software engineer position. She is currently working on a graduate certificate in Data Science at the Colorado School of Mines.</p>
                </div>
            </div>
        </div>
    </section>
